<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AI技术</title>
    <!-- 包含头部信息用于适应不同设备 与 高德的css库-->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />


    <!-- 包含 bootstrap 样式表 -->
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style>
        #container {
            width: 100%;
            height: 100%;
            border: red;
        }
    </style>

</head>

<body>
    <div class="container" style="width: 90%; height: 90%; ">
        <ul class="nav nav-tabs " style="padding:0 1%;  height: 60px">
            <li>
                <a href="index.html">智能健康检测</a>
            </li>
            <li class="active">
                <a href="ai.html" style="background-color: #94cfe5">人工智能场景</a>
            </li>
        </ul>
    </div>

    <div class="container" style="width: 90%; height: 90%;">
        <div class="row" style="margin-top: 1%">
            <button type="button" id='mydate' class="btn btn-defult  col-md-2  " style="background-color: #94cfe5; margin-left: 3%; color: black;">0000-00-00</button>
            <button type="button" id='mytime' class="btn btn-defult  col-md-1 col-md-offset-3" style="background-color: #94cfe5; color: black;">00:00:00</button>
            <button type="button" class="btn btn-defult  col-md-2 col-md-offset-3" style="background-color: #94cfe5; margin-left: 30%; color: black;">历史记录</button>
        </div>
    </div>

    <div class="container" style="width: 90%; height: 90%;">
        <div class="row" style="margin-top: 1%">
            <div class="col-md-8" style="height: 450px;">
                <!-- <img src="/static/img/map.png" alt="导航地图" style="width:100%;"> -->

                <!-- 加载地图JSAPI脚本-->
                <div id="container"></div>
                <script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>
                <script src="https://webapi.amap.com/maps?v=1.4.15&key=bc71a9dd961bdbc41d34a006c4bc8114"></script>
                <script>
                    var map = new AMap.Map('container', {
                        resizeEnable: true, //是否监控地图容器尺寸变化
                        zoom: 16, //初始化地图层级
                        center: [117.08787, 39.143254] //初始化地图中心点
                    });
                    AMap.plugin(['AMap.ToolBar', 'AMap.Driving'], function () {//异步同时加载多个插件
                        var toolbar = new AMap.ToolBar();
                        map.addControl(toolbar);
                        var driving = new AMap.Driving();//驾车路线规划
                        driving.search(/*参数*/)
                    });
                </script>
                <script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>

            </div>
            <div class="col-md-4">
                <div class="row" style="margin-bottom:6%; margin-top: 3%;">
                    <button type="button" class="btn btn-default btn-lg col-md-8 " style=" background-color: #94cfe5">人脸校验</button>
                    <button type="button" class="btn btn-default btn-lg col-md-4 " id="faceScore" >0</button>
                </div>
                <div class="row" style="margin-bottom:6%">
                    <button type="button" class="btn btn-default btn-lg col-md-8 " style=" background-color: #94cfe5">未接打电话</button>
                    <button type="button" class="btn btn-default btn-lg col-md-4 " id="phoneScore" >0</button>
                </div>
                <div class="row" style="margin-bottom:6%">
                    <button type="button" class="btn btn-default btn-lg col-md-8 " style=" background-color: #94cfe5">未抽烟</button>
                    <button type="button" class="btn btn-default btn-lg col-md-4 " id="smokeScore" >0</button>
                </div>
                <div class="row" style="margin-bottom:6%">
                    <button type="button" class="btn btn-default btn-lg col-md-8 " style=" background-color: #94cfe5">已系安全带</button>
                    <button type="button" class="btn btn-default btn-lg col-md-4 " id="seatBeltScore" >0</button>
                </div>
                <div class="row" style="margin-bottom:6%">
                    <button type="button" class="btn btn-default btn-lg col-md-8 " style=" background-color: #94cfe5">双眼看前方</button>
                    <button type="button" class="btn btn-default btn-lg col-md-4 " id="lookAheadScore" >0</button>
                </div>
                <div class="row" style="margin-bottom:6%">
                    <button type="button" class="btn btn-default btn-lg col-md-8 " style=" background-color: #94cfe5">手握方向盘</button>
                    <button type="button" class="btn btn-default btn-lg col-md-4 " id="handLeavingWheelScore" >0</button>
                </div>

                <div class="row" style="margin-bottom:6%">
                    <button type="button" id="start" class="btn btn-success btn-lg col-md-12 " >开始</button>
                </div>
                

            </div>
        </div>
    </div>

    <!-- JavaScript 放置在文档最后面可以使页面加载速度更快 -->
    <!-- 可选: 包含 jQuery 库 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 可选: 合并了 Bootstrap JavaScript 插件 -->
    <script src="https://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- </div> -->
    <script>
        $(function () {
            var dateItv;
            // 每1min 更新一次
            function updateTimeAndDate() {
                dateItv = setInterval(function () {
                    var day = new Date(+new Date() + 8 * 3600 * 1000);
                    var daystr = day.toISOString();
                    $('#mydate').html(daystr.substring(0, 10));
                    $('#mytime').html(daystr.substring(11, 19));
                }, 1000);
            }
            updateTimeAndDate();

            // to execute when the button 'start' is clicked.
            $("#start").click(function () {
                $.ajax({
                    url: "/startAi/",
                    type: "POST",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        face=$('#faceScore');
                        face.text(data['faceScore']);

                        phone=$('#phoneScore');
                        phone.text(data['phoneScore']);
                         
                        smoke = $('#smokeScore');
                        smoke.text(data['smokeScore']);

                        seatBelt =$('#seatBeltScore');
                        seatBelt.text(data['seatBeltScore']);

                        lookAhead = $('#lookAheadScore');
                        lookAhead.text(data['lookAheadScore']);

                        handLeavingWheel=$('#handLeavingWheelScore');
                        handLeavingWheel.text(data['handLeavingWheelScore']);
                        
                        console.log(data);
                        
                        if(data['faceScore']<80){
                            face.removeClass();
                            face.addClass('btn btn-danger btn-lg col-md-4 ');
                        }else{
                            face.removeClass();
                            face.addClass('btn btn-default btn-lg col-md-4 ');
                        }

                        if(data['phoneScore']<80){
                            phone.removeClass();
                            phone.addClass('btn btn-danger btn-lg col-md-4 ');
                        }else{
                            phone.removeClass();
                            phone.addClass('btn btn-default btn-lg col-md-4 ');
                        }

                        if(data['smokeScore']<80){
                            smoke.removeClass();
                            smoke.addClass('btn btn-danger btn-lg col-md-4 ');
                        }else{
                            smoke.removeClass();
                            smoke.addClass('btn btn-default btn-lg col-md-4 ');
                        }

                        if(data['seatBeltScore']<80){
                            seatBelt.removeClass();
                            seatBelt.addClass('btn btn-danger btn-lg col-md-4 ');
                        }else{
                            seatBelt.removeClass();
                            seatBelt.addClass('btn btn-default btn-lg col-md-4 ');
                        }

                        if(data['lookAheadScore']<80){
                            lookAhead.removeClass();
                            lookAhead.addClass('btn btn-danger btn-lg col-md-4 ');
                        }else{
                            lookAhead.removeClass();
                            lookAhead.addClass('btn btn-default btn-lg col-md-4 ');
                        }

                        if(data['handLeavingWheelScore']<80){
                            handLeavingWheel.removeClass();
                            handLeavingWheel.addClass('btn btn-danger btn-lg col-md-4 ');
                        }else{
                            handLeavingWheel.removeClass();
                            handLeavingWheel.addClass('btn btn-default btn-lg col-md-4 ');
                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log('/startAi/ encounters some problem.');
                    }
                })
            });

            // to execute when the button 'end' is clicked.
            $("#end").click(function () {
                $.get("/end/", function (data, status) {
                    // clearInterval(temprature_itv);
                });
            });
        })
    </script>

</body>

</html>